* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: Hack;
}
.btn {
    display: inline-block;
    border: none;
    background-color: #555;
    color: #fff;
    padding: 7px 20px;
    cursor: pointer;
}

.btn:hover{
  background: #666;
}
.container {
    padding: 0 1rem;
}
